@yellow: #ccc125;
@otgrey: #EAEDF0;
@otblue: #00ABC5;
.border-radius(@radius: 3px;) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
	
}
.lg() {
	font-family: 'league-gothic';
}
.museo() {
	font-family: 'museo', georgia, serif;
}
.serif() {
	font-family: 'adobe-caslon-pro', georgia, serif;
}
body {
	background: url(images/bg-white-texture.png);
	.serif();
	font-size: 18px;
	color: #000;
}
p, li {
	line-height: 1.4em;
}
h1, h2, h3 {
	.lg();
	line-height: 1.3em;
}
h2 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: normal;
	padding-left: 65px;
	background: url(images/bg-arrow-heading.png) no-repeat center left;
}
h1 {
	font-size: 40px;
	font-weight: normal;
}
.headline-wrap {
    background: url(images/bg-title.png) repeat-x 0px -1px;
    height: 178px;
	margin-bottom: 30px;
	h1 {
		text-align: center;
	}
}
.headline {
	position: relative;
	padding-top: 47px;
	h1 {
		text-transform: uppercase;
	}
	.subtitle {
		text-transform: lowercase;
		font-size: 35px;
		font-style: italic;
		padding: 0 10px 0 4px;
		letter-spacing: 0px;
	}	
}
.header {
	background: @otgrey;
	border-bottom: none;
	min-height: 15px;
}
.navbar {
	.nav {
		padding-top: 26px;
		li {
			.museo();
			font-size:17px;
			font-weight: 200;
			a:hover, &.current_page_item a {
				background: @otblue;
				color: @otgrey;
			}
			a {
				text-shadow: none;
				display:inline-block;
				margin-left:10px;
				padding:6px 9px;
				text-decoration:none;
				color: @otblue;
				.border-radius(4px);
				padding: 4px 6px;
			}
		} // end li
	} // end nav
	.navbar-inner {
		border:none;
		padding: 20px 0;
	}
	.brand a {
		text-indent: -999em;
		background: url(http://outthinkgroup.com/wp-content/themes/OT-2010/images/ot-logo.png) no-repeat top left;
		width: 300px;
		height: 50px;
		display: block;
		float: left;
	}
}
.footer {
	.navbar-inner {
		background: none;
		box-shadow: none;
	}
	padding-top: 20px;
	font-style: italic;
	font-size: 14px;
		
}
p.quote {
	font-style: italic;
	font-size: 24px;
	margin-bottom: 24px;
	background: url(images/bg-dotted-lines.png) repeat-x bottom left;
	padding-bottom: 24px;
	.source {
		color: @yellow;
		display: block;
	}
	.title {
		color: #666;
		font-size: 20px;
	}
}
.bookseller-links {
	display: block;
	text-align: center;
	a {
		background: url(images/button-buy-now.png) no-repeat;
		display: block;
		background-position: bottom left;
		width: 258px;
		height: 61px;
		text-indent: -999em;
		margin-top: 20px;
		&:hover {
			background-position: top left;
		}
	}
	a.audible {
		background: url(images/button-buy-now-audible.png) no-repeat;	
		background-position: bottom left;
		&:hover {
			background-position: top left;
		}	
	}
}
.tab-top {
	position: absolute;
	top: -5px; 
	font-size: 15px;
	right: 0px;
	padding: 12px 16px 7px;
	font-style: italic;
	background: @otgrey;
	color: #000;
	text-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	border-top: none;
	&:hover {
		color: #FFF;
		background: #000;
		text-decoration: none;
	}
}
.page .headline {
	padding-top: 0px;
}
.nl-text {
	font-size: 21px;
	line-height: 1.3em;
}
.highlight {
  display: block;
  background: url(images/icon-star.png) top left no-repeat;
  padding: 7px 0 5px 32px;
  font-size: 1.3em;
}
#respond, .comment-box {
	display:none
}