.wrap h2.imprint-title {
    color: #234C6B;
    font-size: 34px;
    margin-bottom: 15px;
}
.options h3 {
    color: #5F7527;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0;
}
.options p {font-size: 13px;}
.options .col {
	float:left;
	margin-right: 20px;
}
.options p label {font-size:12px;}
.options .first {
	width:33%;
	padding-right: 0px;
}
.options .col {
	width:  33%;
}
.options select {
	max-width: 100%;
}
.options .textarea {width:95%;}
.options {clear: both;}
.options .second {
}
.notify {
	color: red;
	font-size: 12px;
}
.options .third {
	margin-right: 0px;
}
.options textarea {
	width: 100%;
}
.clr {
	clear: both;
}
li.page-nav {
	margin-right:14px;
	text-align:left;
	width:90px;
}
li.page-nav input {float: right;}
.options .col label {display:block;}
.wrap .imprint_submit {
	background: #234C6B;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	margin-top: 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
}
.wrap .imprint_submit:hover {
	background: #5F7527;
	color: #fff;
}