.banner-box{
  border: 1px solid $grey-mid;
  padding: 20px;
  background: $grey-light;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;

  .banner-wrapper{
    padding-left: 160px;
  }



  // Banner Typography
  // -----------------------------------------
  .banner-intro{
    text-align: center;
    color: $blue-mid;
    font-size: 16px;
    width: auto;
    margin-bottom: 20px;
  }

  h2, h3{
    margin: 0 0 10px 0;
    padding: 0;
    font-family: "futura-pt",sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
	width:auto;
  }

  h2{ font-size: 22px}
  p{
    font-size: 16px;
    margin-bottom: 1em;
  }



  // Banner Elements
  // -----------------------------------------

  img.thumb{
    position: absolute;
    left: 0; bottom: 0;
    z-index: 1;
  }

  form{
    position: relative;
    z-index: 2; /* Form goes in front of image */
  }



  // Footer version of the Banner
  // ----------------------------------------
  &.banner-footer{
    background: $blue-mid;
    border: 0;
    color: white;

    .banner-wrapper{
      padding-left: 260px;
	  h3 {
		  width:auto;
	  }
    }

    .banner-intro{
      text-align: center;
      color: white;
      text-transform: none;
    }

    .btn{
      background: $yellow-bg;
      color: #333;
    }
  }

}

@media (max-width: 580px){
  .banner-box img.thumb{ display: none; }
  .banner-box .banner-wrapper{ padding-left: 0px !important; }
}



// Animation for the Slide up Effect on the optin boxes
// -------------------------------------------------------
.card > .card__back{ display: none; }
.card > .card__front{ display: block; }
.card.flipped > .card__back{ display: block; }
.card.flipped > .card__front{ display: none; }
.animated.fast{
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}