%clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both;
  }
}

header.header {
	text-align:center;
	div.wrapper {
		@include outer-container(1170px);
		padding:20px 10px;
		.logo {
			text-align:left;
			@include span-columns(2);

			@include respondTo(smartphone) {
				@include span-columns(12);
			}
		}
		.topnav {
			@include span-columns(8);
			@include respondTo(smartphone) {
				@include span-columns(12);
			}
			ul {
				list-style:none;
				li {
				    display: inline-block;
					margin-bottom:0;
					a {
						display:block;
						padding:0px 15px 0 15px;

						@include respondTo(smartphone) {
							padding:0px 10px 0 0;
						}
					}
				}
			}

		}
		.starthere {
			@include span-columns(2);
			text-align:right;
			@include respondTo(smartphone) {
				@include span-columns(12);
				text-align:center;
			}
			a {
				display:block;
				padding:5px 15px 0 15px;
			}
		}
	}
}
article {
	.wrapper {
		@include outer-container(1170px);
		padding:90px 0;
		text-align:center;
		.entry {
			@include span-columns(6);
			@include shift(3);
			text-align:left;
			@include respondTo(tablet) {
				@include span-columns(8);
				@include shift(2);
			}
			@include respondTo(smartphoneplus) {
				@include span-columns(10);
				@include shift(1);
			}
			@include respondTo(smartphone) {
				@include span-columns(10);
				@include shift(1);
			}
		}
		.bio {
			img {
				float:left;
				margin:15px;
			}
		}
	}
}
article.books, .bsh {
	.book {
		@include span-columns(8);
		@include shift(2);
		@include respondTo(smartphoneplus) {
			@include span-columns(10);
			@include shift(1);
		}
		@include respondTo(smartphone) {
			@include span-columns(10);
			@include shift(1);
		}
		margin-bottom:75px;
		.bimage {
			@include span-columns(3);
			@include respondTo(smartphoneplus) {
				@include span-columns(6);
				@include shift(3);
				margin-bottom:30px;
			}
			@include respondTo(smartphone) {
				@include span-columns(8);
				@include shift(2);
				margin-bottom:30px;
			}
			img {
				height:100%;
				width:100%;
			}
		}
		.bdesc {
			@include span-columns(8);
			@include shift(1);
			text-align:left;
			@include respondTo(smartphoneplus) {
				@include span-columns(12);
				@include shift(0);
			}
			@include respondTo(smartphone) {
				@include span-columns(12);
				@include shift(0);
			}
			h3 {
				margin:auto;
				margin-bottom:15px;
				width:100%;
			}
			ul {
				list-style:none;
				margin:0;
				li {
				    display: inline-block;
					a {
						display:block;
						padding-right:15px;
					}
				}
			}
		}
	}
}
.bsh {
	.book {
		margin-left:0;
		width:100%;
		h2 {
			margin:0;
			text-align:left;
		}
	}
} 

header.homeheader {
	div.wrapper {
		@include outer-container(1170px);
		position:relative;
		section.bigasstim {
			height:100%;
			@include respondTo(desktop) {
				@include span-columns(7);
				@include shift(-2);
				position:absolute;
				bottom:0;
			}
			@include respondTo(tablet) {
				@include span-columns(5);
				@include shift(0);
				position:absolute;
				bottom:0;
			}
			@include respondTo(smartphoneplus) {
				@include span-columns(4);
				@include shift(0);
				position:absolute;
				bottom:0;
			}
			@include respondTo(smartphone) {
				@include span-columns(12);
				@include shift(0);
			}
			
			img {
				max-width:100%;
				max-height:100%;
				@include respondTo(desktop) {
					padding-right:20px;
				}
				@include respondTo(tablet) {
					position:absolute;
					bottom:0;
					padding-right:20px;
				}
				@include respondTo(smartphoneplus) {
					position:absolute;
					bottom:0;
					padding-right:10px;			
				}
			}
		}
		section.topform {
			@include respondTo(desktop) {
				@include span-columns(7);
				@include shift(5);
				margin-top:150px;
				margin-bottom:150px;
			}
			@include respondTo(tablet) {
				@include span-columns(7);
				@include shift(5);
				margin-top:50px;
				margin-bottom: 25px;
			}
			@include respondTo(smartphoneplus) {
				@include span-columns(8);
				@include shift(4);
				margin-top:50px;
				margin-bottom: 25px;
			}
			@include respondTo(smartphone) {
				@include span-columns(12);
				@include shift(0);
				margin-top:15px;
			}
			form {
				@include span-columns(7 of 7);
				input[type=text] {
					@include span-columns(6 of 7);
					@include respondTo(smartphone) {
						@include span-columns(7 of 7);
					}
				}
				button[type=submit] {
					@include span-columns(2 of 7);
					@include shift(-1);
					@include position(absolute, 0em 0em 0em null);
					@include respondTo(smartphone) {
						@include span-columns(7 of 7);
						@include shift(0);
						@include position(relative, 0em 0em 0em null);
					}
				}
			}
		}
	}
}
section.resourcesbook {
	div.wrapper {
		@include outer-container(1170px);
		text-align:center;
		section {
			@include span-columns(6);
			padding:90px 0;
			height:580px;
			@include respondTo(tablet) {
				padding:45px 0;
			}
			@include respondTo(smartphoneplus) {
				@include span-columns(12);
				padding:45px 0;
			}
			@include respondTo(smartphone) {
				@include span-columns(12);
				padding:45px 0;
			}
			div {
				@include span-columns(8 of 12);
				@include shift(2);
				h3 {
					padding:0 0 20px 0;
					margin-top:0;
					margin-bottom:0;
				}
			}
			div.rbimage {
				height:310px;
				@include ghostVerticalAlign();
				img {
				    display: inline-block;
				    vertical-align: middle;
					max-width:96%;
					width: auto;
					height: auto;
				}
			}
		}
	}
}
section.quotes {
	div.wrapper {
		@include outer-container(1170px);
		text-align:center;
		padding-bottom:120px;
		@include respondTo(smartphone) {
			padding-bottom:60px;
		}
		.quotechar {
			padding:115px 0 50px 0;
			@include respondTo(smartphone) {
				padding:50px 0 25px 0;
			}
			img {
				display:inline;
			}
		}
		.quote {
			padding-bottom:55px;
		}
		.quoteperson {
			.person {
				@include span-columns(3);
				@include shift(1);
				//opacity:.5;
				text-align:left;
				@include ghostVerticalAlign();
				img {
					float:left;
					margin-right:20px;
					width: auto;
					height: auto;
					@include respondTo(tablet) {
						float:none;
					}
					@include respondTo(smartphoneplus) {
						float:none;
					}
					@include respondTo(smartphone) {
						float:none;
					}
				}
				p {
				    display: inline-block;
				    vertical-align: middle;
				}
			}
		}
	}
}
section.blogs {
	div.wrapper {
		@include outer-container(1170px);
		text-align: center;
		padding:90px 0 85px 0;
		@include respondTo(smartphone) {
			padding:45px 0 40px 0;
		}
		h3 {
			@include span-columns(4);
			@include shift(4);
			margin-bottom:90px;
			@include respondTo(smartphone) {
				margin-bottom:45px;
			}
		}
		.frontblogs {
			@include respondTo(tablet) {
				padding:0 25px;
			}
			.blogpost {
				text-align:left;
			}
			.first {
				@include span-columns(6 of 24);
			}
			.mid {
				@include span-columns(6 of 24);
				@include shift(3);
			}
			.last {
				@include span-columns(6 of 24);
				@include shift(3);			
			}
			.blogpost {
				@include respondTo(smartphoneplus) {
					@include span-columns(10);
					@include shift(1);
					margin-bottom:50px;
				}
				@include respondTo(smartphone) {
					@include span-columns(10);
					@include shift(1);
					margin-bottom:50px;
				}
			}
			h2 {
				margin-bottom:30px;	
				@include respondTo(smartphoneplus) {
					margin-bottom:15px;
				
				}		
				@include respondTo(smartphone) {
					margin-bottom:10px;
				}		
			}
			p {
				margin-bottom:30px;	
				@include respondTo(smartphoneplus) {
					margin-bottom:15px;
				
				}		
				@include respondTo(smartphone) {
					margin-bottom:10px;
				}	
			}
			button {
				margin-top:75px;
			}
		}
		.homegetmore {
			display:block;
			@include span-columns(4);
			@include shift(4);
		}
	}
}
section.footer {
	div.wrapper {
		@include outer-container(1170px);
		div {
			h4 {
				margin-bottom:20px;
			}
			div{
				margin-top:60px;
				margin-bottom:30px;
			}
			.sitemap {
				@include span-columns(3);
				@include respondTo(tablet) {
					@include span-columns(4);
				}
				@include respondTo(smartphoneplus) {
					@include span-columns(4);
				}
				@include respondTo(smartphone) {
					@include span-columns(12);
					padding:0 30px;
				}
				
			}
			.training {
				@include span-columns(2);
				@include shift(2);
				button {
					width:100%;
				}
				@include respondTo(tablet) {
					@include span-columns(3);
					@include shift(0);
				}
				@include respondTo(smartphoneplus) {
					@include span-columns(3);
					@include shift(0);
				}
				@include respondTo(smartphone) {
					@include span-columns(12);
					@include shift(0);
					padding:0 30px;
				}
			}
			.totop {
				@include span-columns(3);
				@include shift(2);
				position:relative;
				@include respondTo(tablet) {
					@include shift(1);
				}
				@include respondTo(smartphoneplus) {
					@include span-columns(5);
					@include shift(0);
				}
				@include respondTo(smartphone) {
					@include span-columns(12);
					@include shift(0);
					padding:0 30px;
				}
				img {
					position:absolute;
					top:-11px;
					right:0;
				}
			}
		}
	}
}

form.search-bar {  

///////////////////////////////////////////////////////////////////////////////////
  
  $base-line-height: 1.5em !default;

//////////////////////////////////////////////////////////////////////////////////

	margin-top:20px;

	position: relative;
	border:none;

 	input[type=search] {
		border:none;
	  	border-bottom: 1px solid #616362;
	    display: block;
	    font-size: 1em;
	    margin: 0;
	    padding: ($base-spacing / 3) ($base-spacing / 3);
	    position: relative;
	    width: 100%;
		background:$grey-dark;
		color:#616362;
		box-shadow:none;
		text-transform:uppercase;
		font-size:16px;
		font-family:$futura-font;
		font-weight:800;
	}

  button[type=submit] {
    //@include button(flat, $grey-dark);
    @include position(absolute, 0em 0em 0em null);
	  border:none;
	  background:$grey-dark;
    border-bottom: 1px solid #616362;
    outline: none;
    padding: 5px 10px;

    img {
      height: 18px;
      opacity: 0.7;
    }
  }
}

.resources-section {
	@include span-columns(12);
	padding-bottom:50px;
	h2 {
		@include span-columns(12);
		font-family:$sans-serif;
		font-size:44px;
		margin:50px 0;
	}
	.resource-single {
		@include respondTo(desktop) {
			@include span-columns(3);
			@include shift(.75);
		}
		@include respondTo(tablet) {
			@include span-columns(3);
			@include shift(.75);
		}
		@include respondTo(smartphoneplus) {
			@include span-columns(5);
			@include shift(.5);
		}
		@include respondTo(smartphone) {
			@include span-columns(10);
			@include shift(1);
		}
		//@include omega(3n);
		display:block;
		background:white;
		text-align:center;
		padding-bottom:40px;
		margin-bottom:50px;
		-webkit-box-shadow: 0px 0px 15px 2px rgba(176,176,176,0.7);
		-moz-box-shadow: 0px 0px 15px 2px rgba(176,176,176,0.7);
		box-shadow: 0px 0px 15px 2px rgba(176,176,176,0.7);
		h3 {
			@include span-columns(12);
			@include shift(0);
			font-family:$sans-serif;
			font-size:24px;
			text-transform:uppercase;
			border-bottom: 1px solid #e1e1e1;
			padding:20px 10px;
			margin:0;
			@include respondTo(tablet) {
				font-size:18px;
			}
		}
		.rbimage {
			@include shift(2);
			@include span-columns(8);
			padding:20px 0;
			img {
				display:inline;
			}
		}
		.rbbutton a {
			@include respondTo(tablet) {
				font-size:.8em;
			}
		}
	}
	@include respondTo(desktop) {
		.resource-single:nth-child(3n+5) {
			clear:left;
		}
	}
	@include respondTo(tablet) {
		.resource-single:nth-child(3n+5) {
			clear:left;
		}
	}
	@include respondTo(smartphoneplus) {
		.resource-single:nth-child(2n+4) {
			clear:left;
		}
	}
	@include respondTo(smartphone) {
		.resource-single:nth-child(1n) {
			clear:left;
		}
	}
	.extra-guide, .extra-course, .extra-tool {
		display:none;
	}
	.seemorecourses, .seemoreguides, .seemoretools {
		clear:left;
		@include span-columns(4);
		@include shift(4);
		@include respondTo(smartphoneplus) {
			@include span-columns(8);
			@include shift(2);
		}
		@include respondTo(smartphone) {
			@include span-columns(10);
			@include shift(1);
		}
	}
}

.resources-courses {
	background:#00abc5;
	margin-top:50px;
	h2 {
		color:white;
	}
}

.resources-guides {
	background:#efefef;
	margin-top:65px;
	h2 {
		color:black;
	}
}

.resources-tools {
	background:#f2d918;
	margin-top:65px;
	h2 {
		color:black;
	}
}


.resource-box {
	height:380px;
	margin-bottom:60px;
	position:relative;
	@include respondTo(desktop) {
		@include span-columns(4);
		@include omega(3n);
	}
	@include respondTo(tablet) {
		@include span-columns(4);
		@include omega(3n);
	}
	@include respondTo(smartphoneplus) {
		@include span-columns(6);
		@include omega(2n);
	}
	@include respondTo(smartphone) {
		@include span-columns(10);
		@include shift(1);
	}
	h2 {
		@include span-columns(1 of 1);
		@include shift(0);
		float:none;
		margin-bottom:0px;
	}
	div.rbimage {
		height:230px;
		width:100%;
		position:absolute;
		left:0;
		bottom:71px;
		@include ghostVerticalAlign();
		img {
		    display: inline-block;
		    vertical-align: middle;
			max-width:96%;
			max-height:186px;
			width: auto;
			height: auto;
		}
	}
	div.rbbutton {
		position:absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.resource-single {
	.resource-thumb {
		@include span-columns(3);
		@include shift(1);
		@include respondTo(smartphoneplus) {
			@include span-columns(10);
			@include shift(1);
			margin-bottom:30px;
			img {
				display:inline;
			}
		}
		@include respondTo(smartphone) {
			@include span-columns(10);
			@include shift(1);
			margin-bottom:30px;
			img {
				display:inline;
			}
		}
	}
	.resourcecontent {
		@include span-columns(6);
		@include omega();
		@include respondTo(smartphoneplus) {
			@include span-columns(10);
			@include shift(1);
		}
		@include respondTo(smartphone) {
			@include span-columns(10);
			@include shift(1);
		}
		.reglogin {
			@include span-columns(6);
		}
		.regor {
			@include span-columns(3);
			text-align:center;
		}
		.regregister {
			@include span-columns(3);
			@include omega();
		}
	}
}

.conqfear, .hackamz {
	.headwrap1 {
		text-align:center;
		padding:30px 0;
		img {
			display:inline;
		}
	}
	.headwrap2 {
		text-align:center;
		padding:30px 0;
	}
	.feature-list {
		text-align:center;
	}
}
.hackamz {
	.headwrap1 {
		padding:50px 0;
	}
}