@import "bourbon";
@import "neat";
@import "bourbon", "bitters/base";
@import "reset.scss";
@import "extras.scss";
@import "variables.scss";
@import "layout.scss";
//@import "refills.scss";
@import "banners.scss";


i, em {
	font-style: italic;
}
strong, b {
	font-weight:bold; 
	i, em {
		font-weight:bold;
		font-style:italic;
	}
}

article {

  @include clearfix;
  text-align: left;
}
  h1, h2, h3, p {
    margin: 0;
  }

  button, .btn {
	@extend button;
	background-color:$blue-mid;
	&:hover,
    &:focus {
    	background-color: darken($blue-mid,10%);
  	}
  }
  .btn-grey {
    	background-color: rgba(23, 29, 28, .3);
  		font-family:$futura-font;
  		font-weight:bold;
  		text-transform:uppercase;
  		text-decoration:none;
		color:#3d3d3d;
  	&:hover,
    &:focus {
    	background-color: rgba(23, 29, 28, .5);
  	}
  }
  .btn-green {
    	background-color: rgba(0,220,38, .5);
  		font-family:$futura-font;
  		font-weight:bold;
  		text-transform:uppercase;
  		text-decoration:none;
		color:black;
  	&:hover,
    &:focus {
		color:black;
    	background-color: rgba(0,220,38, .8);
  	}
  }
  .btn-blue {
  	background-color:$blue-mid;
  	color:$blue-dark;
	font-family:$futura-font;
	font-weight:800;
	text-transform:uppercase;
	font-size:18px;
	padding:15px 45px;
	text-align:center;
	@include respondTo(smartphone) {
		padding:10px;
		font-size:16px;
	}		
	&:hover,
    &:focus {
    	background-color: darken($blue-mid,10%);
		color:darken($blue-dark,10%);
  	}
  }
  
  .btn-yellow {
  	background-color:$yellow-bg;
  	color:$grey-dark;
	font-family:$futura-font;
	font-weight:800;
	text-transform:uppercase;
	font-size:18px;
	padding:15px 45px;
	text-align:center;
	@include respondTo(smartphone) {
		padding:10px;
		font-size:16px;
	}		
	&:hover,
    &:focus {
    	background-color: darken($yellow-bg,10%);
		color:darken($grey-dark,10%);
  	}
  }
  
  .btn-darkyellow {
  	background-color:$yellow-grey;
  	color:black;
	font-family:$futura-font;
	font-weight:800;
	text-transform:uppercase;
	font-size:18px;
	padding:15px 45px;
	text-align:center;
	@include respondTo(smartphone) {
		padding:10px;
		font-size:16px;
	}		
	&:hover,
    &:focus {
    	background-color: darken($yellow-grey,10%);
		color:black;
  	}
  }
  
  .blue-box {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      padding: 25px;
      background: #ebfcff;
      border: 1px solid #f0f0f0;
  }
  
  .yellow-box {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      padding: 25px;
      background: #fffffa;
      border: 1px solid #f0f0f0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }
  
  //////////////////////////////////////////////////////////////////////////////////
  .wf-loading {
	  visibility:hidden !important;
  }
  .clr {
	  @include clearfix;
  }
  .alignleft {
	  text-align:left;
	  margin: 0 15px 15px 0; 
  }

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $serif;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $sans-serif;
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 20px;
	text-transform:uppercase;

	@include respondTo(smartphone) {
		font-size: 40px;
	}
  }

  h2 {
    font-family: $serif;
    font-size: 54px;
    font-weight: bold;
    line-height: 1.5em;
	margin:1.2em 0 1em;
	text-transform:uppercase;
	text-align:center;
	i, em {
		font-style:italic;
		font-weight:bold;
	}

	@include respondTo(smartphone) {
		font-size: 40px;
	}
  }
  
  .type-post {
	h2 {
		@include respondTo(desktop) {
			@include span-columns(16);
			@include shift(-2);
			float:none;
		}
	}
  }
  .entry {
	  h2 {
		  font-size:37px;

	  	@include respondTo(smartphoneplus) {
	  		font-size:32px;
	  	}
	  	@include respondTo(smartphone) {
	  		font-size:32px;
	  	}
	  }
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.7em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }
  
  strong {
	  font-weight:800;
  }

  h3 {
    font-family: $serif;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.3em;
	margin:1em 0 .8em;
	text-align:center;

	@include respondTo(desktop) {
		@include span-columns(16);
		@include shift(-2);
		float:none;
	}
  }

  h4 {
    font-family: $serif;
    font-size: 22px;
    font-weight: 800;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.3em;
  }

  p, li {
    font-family: $serif;
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 1.5em;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
  blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  ul, ol {
	  margin-left:20px;
  }
  ul { 
     list-style-type: disc; 
     list-style-position: outside; 
  }
  ol { 
     list-style-type: decimal; 
     list-style-position: outside; 
  }
  ul ul, ol ul { 
     list-style-type: circle; 
     list-style-position: outside; 
     margin-left: 15px; 
  }
  ol ol, ul ol { 
     list-style-type: lower-latin; 
     list-style-position: outside; 
     margin-left: 15px; 
  }
  

  ol.poparticles {
	li {
		border-bottom: 1px solid $grey-light;
		padding: 10px;
		margin: 0;
		list-style-type: decimal;
	}
  } 

  a.read-more {
    display: inline-block;
    font-family: $serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-family: $serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
  }
  
  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
  }

  img {
	display:block;
  	width:auto;
  	height:auto;
  }


img.desaturate{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}
.pushleft {
	float:left;
	margin-left:-158px;
	@include respondTo(smartphoneplus) {
		display:none;
	}
	@include respondTo(smartphone) {
		display:none;
	}
}


.disabled {
	display:none;
}

.newsletterbox {
	border:1px solid $grey-mid;
	padding: 0 30px 30px;
	background: $grey-light;
}

.op80 {
	color:#c3c3c3 !important;
	h2 {
		color:#c3c3c3;
	}
	p {
		color:#c3c3c3;
	}	
	img {
		display:none;
	}	
	a {
		color:#c3c3c3;
	}
}


header.header {
	background-color:$blue-mid;
	.logo {
		background: url('img/logo.png') no-repeat scroll top left;
		text-transform:uppercase;
		font-size:24px;
		a {
			color:white;
			font-family:$futura-font;
			font-weight:800;
			padding-left:31px;
			display:block;
			&:focus, &:hover {
				text-decoration:underline;
			}
		}
	}
	.topnav, .starthere {
		a {
			font-family:Adelle;
			color:white;
			font-size:16px;
			&:focus, &:hover {
				text-decoration:underline;
			}
			@include respondTo(smartphone) {
				font-size:22px;
			}
		}
	}
}

article.books, .bsh {
	h2 {
		font-family:$futura-font;
		margin-top: 0;
	}
	.book {
		h1 {
			font-size:28px;
			text-transform:uppercase;
			margin:0;
		}
		h3 {
			font-size:20px;
			text-transform:uppercase;
			text-align:left;
			color:$grey-mid;
			font-family:$futura-font;
		}
		p {
			font-size:modular-scale(0);
		}
		button {
			background-color:$grey-mid;
			color:rgba(23, 29, 28, .8);
			text-transform:uppercase;
			font-family:$futura-font;
			a {
			}
		    &:hover,
		    &:focus {
		      background-color: rgba(23, 29, 28, .4);
		    }
		}
		button.amazonlink {
			background: $grey-mid url('../img/icon-amazon-link.png') no-repeat scroll 15px center;
			padding-left:44px;
		    &:hover,
		    &:focus {
		      background-color: rgba(23, 29, 28, .4);
		    }
		}
		button.audiblelink {
			background: $grey-mid url('../img/icon-audible-link.png') no-repeat scroll 15px center;
			padding-left:44px;
		    &:hover,
		    &:focus {
		      background-color: rgba(23, 29, 28, .4);
		    }
		}
	}
}

header.homeheader {
	background: $blue-mid;
	section.topform {
		@include respondTo(tablet) {
			padding-right:30px;
		}
		@include respondTo(smartphoneplus) {
			padding-right:30px;
		}
		@include respondTo(smartphone) {
			padding-right:30px;
			padding-left:30px;
		}
		h1 {
			font-family:$futura-font;
			font-weight:800;
			font-size:3.7em;
			line-height:1em;
			text-transform:uppercase;
			color:white;
			margin-bottom:30px;
			@include respondTo(tablet) {
				font-size:2.7em;
			}
			@include respondTo(smartphoneplus) {
				font-size:2em;
				margin-bottom:15px;
			}
			@include respondTo(smartphone) {
				font-size:2em;
				margin-bottom:15px;
			}
		}
		form {
			position: relative;
			margin-bottom:30px;
			@include respondTo(smartphoneplus) {
				margin-bottom:15px;
			}
			@include respondTo(smartphone) {
				margin-bottom:15px;
			}
			input[type=text] {
			    //@include appearance(none);
			    background-color: white;
				@include border-top-radius(6px);
				@include border-right-radius(6px);
				@include border-bottom-radius(6px);
				@include border-left-radius(6px);
			    border: none;
			    display: block;
			    font-size: 1.5em;
			    font-style: italic;
				font-family:adelle;
			    margin: 0;
			    padding: (14px) (20px);
			    position: relative;
				@include respondTo(tablet) {
					font-size:1em;
				}
				@include respondTo(smartphoneplus) {
					font-size:1em;
				}
				@include respondTo(smartphone) {
					font-size:1.2em;
				}
			}
			button[type=submit] {
			    //@include position(absolute, 0em 0em 0em null);
				@include border-top-radius(6px);
				@include border-right-radius(6px);
				@include border-bottom-radius(6px);
				@include border-left-radius(0px);
			    outline: none;
			    padding: 5px 20px;
				color:#8c7e0e;
				background:$yellow-bg;
				font-family:$futura-font;
				font-size:1.5em;
				text-transform:uppercase;
				height:100%;
				@include respondTo(tablet) {
					font-size:1em;
				}
				@include respondTo(smartphoneplus) {
					font-size:.9em;
					padding:5px 10px;
				}
				@include respondTo(smartphone) {
					@include border-top-radius(6px);
					@include border-left-radius(6px);
					@include border-bottom-radius(6px);
					@include border-right-radius(6px);
					font-size:1.3em;
					padding:15px 5px;
					margin-top:15px;
				}
			}
		}
		div {
			font-family:adelle;
			font-size:22px;
			line-height:34px;
			color:$blue-dark;
			@include respondTo(tablet) {
				font-size:1em;
				line-height:1.5em;
			}
			@include respondTo(smartphoneplus) {
				font-size:.9em;
				line-height:1.4em;
			}
			@include respondTo(smartphone) {
				font-size:1.1em;
				margin-bottom:1.6em;
			}
		}
	}
}
section.resourcesbook {
	background: $grey-light;
	section {
		h3 {
			color:$grey-dark;
			font-size:1.4em;
			font-family:$futura-font;
			font-weight:bold;
			border-bottom:1px solid rgba(23, 29, 28, .2);
			text-transform:uppercase;
			opacity: 0.8;
		}	
	}
	section.mybook {
		background:$yellow-bg;
	}
}
section.quotes {
	div.wrapper {
		.quotechar {
		}
		.quote {
			font-family:Adelle;
			font-size:em(22);
			color:$grey-dark;
			//opacity:.8;
		}
		.quoteperson {
			.person {
				p {
					font-family:$futura-font;
					font-weight:800;
					font-size:em(16);
					span {
						font-family:Adelle;
						font-style:italic;
					}
				}
			}
		}
	}
}
section.blogs {
	background: $grey-light;
	text-align:left;
	div.wrapper {
		h3 {
			border-bottom:1px solid $grey-mid;
			a {
				color:rgba(23, 29, 28, .8);
				opacity: 0.8;
				font-size:20px;
				font-family:$futura-font;
				font-weight:bold;
				text-transform:uppercase;
				padding-bottom:3px;
			}
		}
		div {
			clear:both;
			.blogpost {
				.date {
					color:#d4cfd9;
					font-family:$futura-font;
					font-weight:800;
					font-size:em(14);
					text-transform:uppercase;
				}
				h2 {
					font-family:$futura-font; 
					font-size:18px;
					text-transform:uppercase;
					text-align:left;
					margin-top:0;
					a {
						color:#656469;
						font-weight:800;
					    &:hover,
					    &:focus {
					      color: rgba(23, 29, 28, .8);
					    }
					}
				}
				p {
					color:#656469;
					font-family:Adelle;
					font-size:em(16);	
					line-height:em(22px);	
				}
				.readmore {
					a {
						color:$blue-mid;
						font-family:$futura-font;
						font-weight:800;
						font-size:em(16);
						text-transform:uppercase;		
					}	
				}
			}
		}
	}
}


section.footer {
	background: $grey-dark;
	div.wrapper {
		div {
			h4 {
				color:#616362;
				text-transform:uppercase;
				font-size:18px;
				font-family:$futura-font;
				font-weight:800;
			}
			li {
				margin-bottom:0;
			}
			.sitemap {
				a {
					font-family:Adelle;
					color:$blue-mid;
					font-size:16px;
					text-decoration:underline;
				}
			}
			.training {
				button {
					margin-bottom:15px;
					a {
						padding: 15px 0px;
					}
				}
			}
			.totop {
				p {
					color:#616362;
					font-family:Adelle;
					font-size:16px;
				}
				a {
					color:#616362;
					text-transform:uppercase;
					font-size:18px;
					font-family:$futura-font;
					font-weight:800;
				}
				.scrollToTop {
					&:hover,
					&:focus {
						cursor:pointer;
					}
				}
				
			}
		}
	}
}

.resource-box {
	h2 {
		color:#616362;
		text-transform:uppercase;
		font-size:18px;
		font-family:$futura-font;
		font-weight:800;
	}
}


.resource-single {
	text-align:left;
	.resource-thumb {
		@include respondTo(smartphone) {
			text-align:center;
		}
	}
	.resourcecontent {
		@include respondTo(smartphone) {
			text-align:center;
		}
		h1 {
			font-size: 32px;
			font-weight: 800;
			@include respondTo(smartphone) {
				font-size:24px;
			}
		}
		.otmg_login_form {
			label {
				display:none;
			}
		}
	}
}

.articlepage, .post-11 { // contact page
	h2, h3 {
		@include span-columns(12);
		@include shift(0);
		float:none;
	}
	ol {
		li {
			border-bottom: 1px solid $grey-light;
			padding: 10px;
			margin: 0;
			list-style-type: decimal;
		}
	}
}
.conqfear, .hackamz {
	.headwrap1 {
		background:black;
	}
	.headwrap2 {
		background:#4a4a4a;
		h1 {
			text-align: center;
			font-size: 22px;
			color: #fff;
			margin: 0px;
		}
	}
	.feature-list {
		li {
			background: url('img/icon-plus-lrg-red.png') no-repeat scroll top left;
			line-height: 25px;
			margin-top: 18px;
			list-style: none;
			padding-left: 50px;
			padding-top: 3px;
			padding-bottom: 7px;
			text-align: left;
		}
		button {
			background-color:#d14f30 !important;				
			&:hover,
			&:focus {
				background-color:darken(#d14f30,20%) !important;
			}
		}
	}
}

.hackamz {
	.headwrap1 {
		background:#ff9300;
	}
	.headwrap2 {
		background:#e68600;
	}
	.feature-list {
		li {
			background: url('img/icon-plus-lrg-grey.png') no-repeat scroll top left;
		}
		button {
			background-color:#ff9300 !important;				
			&:hover,
			&:focus {
				background-color:darken(#ff9300,20%) !important;
			}
		}
	}
}
.sumome-popup-content, .sumome-scrollbox-content {
	font-size:17px !important;
	@include respondTo(smartphone) {
		font-size:13px !important;
	}
	@include respondTo(smartphoneplus) {
		font-size:14px !important;
	}
	p {
		margin:0 0 10px 0;
	}
	img {
		float:right;
		margin:0 0 15px 15px;
	}
	ul {
		li {
			margin:0 0 10px 0;
			font-size:17px !important;
			@include respondTo(smartphone) {
				font-size:13px !important;
			}
			@include respondTo(smartphoneplus) {
				font-size:14px !important;
			}
		}
	}
}
.post-3933 {
	input[type="checkbox"] {
	    float: left;
	    -ms-transform: scale(2);
	    -moz-transform: scale(2);
	    -webkit-transform: scale(2);
	    -o-transform: scale(2);
	    padding: 0;
	    margin: 17px 20px 0 0;
	}
	h2 {
	    padding: 0;
	    text-align: left;
		margin:0 0 15px 0;
		width:auto;
		float:none;
	}
	h3 {
		text-align:left;
		width:auto;
		margin:0 0 15px 0;
		float:none;
		font-size:22px;
	}
}
.toprint {
	display:none;
}
.scroll-on-page {
	margin-bottom:50px;
}
.scroll-on-page li {
	margin:5px;
}
.back-to-top {
	font-family:$serif;
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 13px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}
.sources {
	padding:15px;
	font-size:14px;
	background:#f7f7f7;
	font-family:$serif;
	p, li {
		margin:0;
		font-size:14px;
	}
}

.salespage.lab-sales {
	.topper {
		background: url('img/sales/lab/salespage-top.png') no-repeat top center;
	}
}
.salespage.pw-sales {
	.topper {
		background: url('img/sales/pw/pw-background.gif') repeat-x top left;
	}
}
.salespage.lab-sales {
	.topper {
		text-align:center;
		display:block;
		padding-top:50px;
		.tcontent {
			@include span-columns(6);
			@include shift(3);
			text-align:center;
			@include respondTo(tablet) {
				@include span-columns(8);
				@include shift(2);
			}
			@include respondTo(smartphoneplus) {
				@include span-columns(10);
				@include shift(1);
			}
			@include respondTo(smartphone) {
				@include span-columns(10);
				@include shift(1);
			}

			h1 {
				font-size:42px;
				text-align:center;
				color:white;
				@include respondTo(smartphone) {
					font-size:28px;
				}
			}
			h2 {
				font-size:22px;
				font-family:$serif;
				text-transform:none;
				margin:12px 0;
			}
		}
	}
	.wrapper {
		padding-top:0;
		h3 {
			@include respondTo(smartphone) {
				width:100%;
				margin-left:0;
			}
			@include respondTo(smartphoneplus) {
				width:100%;
				margin-left:0;
			}
		}
		img {
			border: 1px solid #dfdfdf;
		}
		img.Hiimtim {
			float:right;
			border:none;
			margin:0 -125px 15px 15px;
			@include respondTo(smartphone) {
				float:none;
				margin:10px auto;
				text-align:center;
			}
			@include respondTo(smartphoneplus) {
				float:none;
				margin:10px auto;
				text-align:center;
			}
		
		}
		img.noborder {
			border:none;
		}
		img.pushleft {
			float:left;
			margin-left:-60px;
			margin-top:-10px;
		}
		.bonuses {
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			padding:25px;
			background:#ebfcff;
			border:1px solid #f0f0f0;
			h2, h3 {
				width:100%;
				margin:1em 0 .8em 0;
			}
		}
		.gaurantee {
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			padding:25px;
			background:#fffffa;
			border:1px solid #f0f0f0;
			h2, h3 {
				width:100%;
				margin:1em 0 .8em 0;
			}
			h3 {
				font-size:1.8em;
			}
			h4 {
				text-align:center;
			}			
		}
		.tiers {
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			padding:25px;
			background:#f7f7f7;
			border:5px solid #f0f0f0;
			margin-bottom:15px;
			h2, h3 {
				width:100%;
				margin:1em 0 .8em 0;
			}
			h3 {
				font-size:2em;
			}
			h4 {
				text-align:center;
			}
		}
		.testimonial {
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			padding:25px;
			background:#f7f7f7;
			border:5px solid #f0f0f0;
			margin-bottom:15px;
			p {
				margin-bottom:0;
				span {
					display:block;
					font-weight:bold;
					margin-top:7px;
					i, em {
						font-weight:bold;
						font-style:italic;
					}
				}			
			}
		}
		.bestval {
		    text-align: center;
		    display: block;
		    font-family: 'futura pt';
		    font-weight: 800;
		    text-transform: uppercase;
		    font-size: 20px;
		    color: #c50000;
		}
		
	}
}


.salespage.pw-sales {
	.topper {
		text-align:center;
		display:block;
		padding-top:50px;
		.tcontent {
			@include span-columns(6);
			@include shift(3);
			text-align:center;
			@include respondTo(tablet) {
				@include span-columns(8);
				@include shift(2);
			}
			@include respondTo(smartphoneplus) {
				@include span-columns(10);
				@include shift(1);
			}
			@include respondTo(smartphone) {
				@include span-columns(10);
				@include shift(1);
			}

			h1 {
				font-size:42px;
				text-align:center;
				color:#242730;
				@include respondTo(smartphone) {
					font-size:28px;
				}
			}
			h2 {
				font-size:22px;
				font-family:$serif;
				text-transform:none;
				margin:12px 0;
			}
		}
	}
	.wrapper {
		padding-top:0;
		h3 {
			@include respondTo(smartphone) {
				width:100%;
				margin-left:0;
			}
			@include respondTo(smartphoneplus) {
				width:100%;
				margin-left:0;
			}
		}
		h4 {
			text-align:center;
		}
		blockquote {
		    font-family: "Adelle",serif;
		    font-size: 18px;
		    line-height: 1.6em;
		    margin-bottom: 1.5em;
		}
		img {
			border: 1px solid #dfdfdf;
		}
		img.Hiimtim {
			float:right;
			border:none;
			margin:0 -125px 15px 15px;
			@include respondTo(smartphone) {
				float:none;
				margin:10px auto;
				text-align:center;
			}
			@include respondTo(smartphoneplus) {
				float:none;
				margin:10px auto;
				text-align:center;
			}
		
		}
		img.noborder {
			border:none;
		}
		img.pushleft {
			float:left;
			margin-left:-60px;
			margin-top:-10px;
		}
		.bonuses {
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			padding:25px;
			background:#ebfcff;
			border:1px solid #f0f0f0;
			h2, h3 {
				width:100%;
				margin:1em 0 .8em 0;
			}
		}
		.gaurantee {
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			padding:25px;
			background:#fffffa;
			border:1px solid #f0f0f0;
			h2, h3 {
				width:100%;
				margin:1em 0 .8em 0;
			}
			h3 {
				font-size:1.8em;
			}
			h4 {
				text-align:center;
			}			
		}
		.tierswrapper {
			.tiers {
				@include span-columns(12);
				@include border-top-radius(5px);
				@include border-right-radius(5px);
				@include border-bottom-radius(5px);
				@include border-left-radius(5px);
				padding:25px;
				background:#f7f7f7;
				border:5px solid #f0f0f0;
				margin-bottom:15px;
				h2, h3 {
					width:100%;
					margin:1em 0 .8em 0;
				}
				h3 {
					font-size:2em;
				}
				h4 {
					text-align:center;
				}
				@include respondTo(tablet) {
					@include span-columns(12);
				}
				@include respondTo(smartphoneplus) {
					@include span-columns(10);
					@include shift(1);
				}
				@include respondTo(smartphone) {
					@include span-columns(10);
					@include shift(1);
				}
			}
		}
		.testimonial {
			@include border-top-radius(5px);
			@include border-right-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			padding:25px;
			background:#f7f7f7;
			border:5px solid #f0f0f0;
			margin-bottom:15px;
			p {
				margin-bottom:0;
				span {
					display:block;
					font-weight:bold;
					margin-top:7px;
					i, em {
						font-weight:bold;
						font-style:italic;
					}
				}			
			}
		}
		.bestval {
		    text-align: center;
		    display: block;
		    font-family: 'futura pt';
		    font-weight: 800;
		    text-transform: uppercase;
		    font-size: 20px;
		    color: #c50000;
		}
		
	}
}

.salespage.lab {
	
}

.fixedhead {
    background-color: #ee5d4f;
	color:white;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
	padding:12px 0;
	text-align:center;
	font-family:$serif;
	font-size:16px;
	.topbuy {
		background:#00abc5;
		padding:2px 6px;
		color:white;
		display:inline;
		width:100px;
		font-size:14px;
		cursor:pointer;
		&:hover,
	    &:focus {
	    	background-color: darken($blue-mid,10%);
	  	}
	}
}
header.header {
	text-align:center;
	div.wrapper {
		.starthere.lab {
			color: white;
			font-family: "futura-pt";
			font-weight: 800;
			padding-left: 37px;
			display: block;
			text-transform: uppercase;
			font-size: 24px;
			@include span-columns(4);
			@include shift(6);
			text-align:left;
			@include respondTo(smartphone) {
				display:none;
			}
		    background: url("img/sales/lab/logo.png") no-repeat scroll top left;
		}
	}
}
.lab-closed {
	h2 {
		color:white;
	}
	#mc_embed_signup {
		margin-top:175px;
		text-align:left;
		.closebox {
			@include span-columns(5);
			@include shift(1);
			
		}
		.mcform {
			@include span-columns(5);
			padding:20px;
			background:#f7f7f7;
			border:5px solid #f0f0f0;
			font-family:$serif;
			label {
				font-family:$serif;
			}
		}
	}
}
.post-date p {
	font-size:10px;
	color:#ccc;
}