$grey-light: #efefef;
$grey-mid: #c4c0c9;
$grey-dark: #171d1c;
$grey-dark-rgb:23, 29, 28;

$blue-mid: #00abc5;
$blue-dark: #00525e;

$yellow-bg: #f2d918;
$yellow-grey: #c6b319;

$break-small: 620px;
$break-large: 1024px;

$futura-font: "futura-pt";

$sans-serif: $futura-font, sans-serif;
$serif: 'Adelle', serif;



///////////////////////////////////////////////////////////////////////////////////
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$base-accent-color: #00abc5 !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;
$base-font-color: $dark-gray !default;
