/*
Theme Name: Imprint, A Theme for Authors
Theme URI: http://outthinkgroup.com
Description: A theme built specifically for authors.
Version: 1.5
Author: Designed and Developed by Out:think Group
Author URI: http://outthinkgroup.com
*/
/* General Styles */
.alignleft{float:left;margin-right:12px;margin-bottom:2px;}
.alignright{float:right;margin-left:12px;margin-bottom:2px;}
.aligncenter{margin: 0 auto; display:block;}
sup{font-size:60%;vertical-align:top;}
/* end General Styles */
.widget {
    margin-bottom: 20px;
	font-size: 13px;
}
.clr {clear:both;}
.navbar h1.brand {
	padding: 10px 20px 10px;
	font-size: 20px;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 white;
	line-height: inherit;
	margin: inherit;
	margin-left: -20px;
}
.otr_nav span {
    background: whitesmoke;
}
.otr_nav {
overflow: hidden;
padding-bottom: 12px;
}
.full-width .span12 {
	float: none;
	width: 720px;
	margin: 0 auto;
}
.nl-signup-wide .mc-field-group {
	float: left;
	display: block;
	margin-right: 6px;
}
.share-links {
	overflow: hidden;
}
.share-links .float-left {
	float: left;
}