.noprint, .topnav, .starthere, .footer, .post-3933 input[type="checkbox"] {
	display:none;
}
article {
	width: 100%; 
	margin: 0; 
	float: none;
}
img.pushleft {
	display:none;
}
.toprint {
	display:block;
}