.callout{
  font-family: 'Reenie Beanie', cursive;
  font-size: 33px;
  line-height: 1;
  text-align: center;

  &.callout-right{text-align: right;}
  &.callout-left{text-align: left;}

  @media (min-width: 1200px){
    position: absolute;
    max-width: 190px;
    z-index: 99;
    top: -140px;
    color: #646464;
    text-shadow: 1px 1px 0 white;

    &:after{
      position: absolute;
      width: 213px; height: 104px; bottom: -104px;
      content: " ";
      background-repeat: no-repeat;
      background-position: center;
    }

    &.callout-right{
      right: -90px;
      &:after{right: 0; background-image: url(../images/arrow-black-sketch-left.png);}
    }
    &.callout-left{
      left: -90px;
      &:after{left: 0; background-image: url(../images/arrow-black-sketch-right.png);}
    }
  }
  @media (min-width: 1300px){
    &.callout-right{ right: -120px; }
    &.callout-left{left: -120px; }
  }
  @media (min-width: 1500px){
    &.callout-right{ right: -160px; }
    &.callout-left{left: -160px; }
  }
}


.pullquote{
  text-align: center;
  max-width: 800px;
  padding: 30px;
  margin: 60px auto;
  line-height: 1.4;
  font-weight: 100;
  font-style: oblique;
  background-color: #f7f7f7;
  border-radius: 10px;

  background-color: transparent;
  border-radius: 0;
  padding: 60px 20px;
  //border-top: 1px solid #ddd;
  //border-bottom: 1px solid #ddd;

  position: relative;
  &:after, &:before{
    position: absolute;
    width: 60%;
    content: " ";
    border-top: 1px solid #ddd;
    bottom: 0; left: 20%;
  }
  &:before{ bottom: auto; top: 0;}


  &.pull-right{ margin: 0 30px 0 30px;}
  &.pull-left{ margin: 30px 0 30px 0;}
}
//section.alt .pullquote{ background-color: #ededed; }