.arrow{
  margin-top: -40px; position: absolute; width: 100%; z-index: 9999;
  text-align: center;
  img{
    width: 75px;
  }
}

blockquote{
  border: 3px solid $brand-primary;
  padding: 40px;
  margin-bottom: 40px;
  h2,h3,h4{ text-align: left; margin-top: 5px;}
  &:before{
    content: "\201C";
    position: relative;
    font-size: 72px;
    color: $brand-primary;
    display: inline;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 70px;
    font-family: serif;
  }
  cite{
    display: block;
    text-align: right;
  }
  &.white{
    border-color: white;
    color: white;
    &:before{ color: white }
  }
}

.cc-icons{
  height: 30px;
  margin: 20px auto;
  display: block;
}

.bonus-box{
  border: 4px solid #ddd;
  padding: 15px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  p{ font-size: 16px; z-index: 1; position: relative; text-shadow: 0px 0px 10px #fff;}
  h4{
    font-weight: bold;
    z-index: 1;
    position: relative;
    margin: -15px -15px 20px -15px;
    padding: 5px;
    background-color: #ddd;
    color: #262626;
    text-shadow: 1px 1px 0px #fff;
  }
  i{
    text-shadow: 0px 0px 2px #000;
    color: #f4f4f4;
    opacity: .5;
    //text-shadow: 0px 0px 2px @brand-secondary;
    //color: lighten(@brand-secondary, 48%);

    position: absolute;
    font-size: 120px;
    display: block;
    left: 0; right: 0;
    margin-top: 20px;

    text-align: center;
    z-index: 0;
  }
}

// Hand Written Callouts
  // ----------------------------------
h3.hand{
  font-size: 44px;
  line-height: 47px;
  font-family: reenie-beanie,sans-serif;
}
.text-hand{
  font-size: 150%;
  font-family: reenie-beanie,sans-serif;
}