@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Reenie+Beanie|Open+Sans:300,400,700,400italic,300,300italic);

$brand-primary: #00abc5;
$brand-secondary: #f2d918;

@import "elements";
@import "callouts";
@import "sales";


// Main Typography
// --------------------------
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h1,h2,h3,h4,h5{
  font-family: 'Bitter', serif;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.4;
  text-align: center;
}

.text-hand{
  font-family: 'Reenie Beanie', cursive;
  font-size: 130%;
}

h1{line-height: 1.2; font-size: 52px;}
h2{font-size: 36px;}
h3{font-size: 25px;}

li{ margin-bottom: .8em; }
p, ul, ol{ margin-bottom: 1.6em; }

ul.chevron,
ul.check, ul.plus{
  list-style: none;
  li{
    &:before{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $brand-primary;
      content: '\f054';
      position: absolute;
      margin-left: -25px;
      margin-top: 7px;
    }
  }
}
ul.check li:before{ content: "\f00c";}
ul.plus li:before{ content: "\f067";}
ul.li-white li:before{  color: white; }

ul.strike{
  color: #c0c0c0;
  text-decoration: line-through;
}

hr{ border-top: 1px solid #ddd; width: 50%; min-width: 200px; margin: 60px auto;}
hr.thin{ margin: 30px auto;}

.container{
  max-width: 860px;
}

section{
  position: relative;
  padding: 80px 0;

  &.image {
    background-position: center;
    background-size: cover;
  }

  &.black{
    background-color: #313131;
    color: white;
  }

  &.thin{
    padding: 40px 0;
  }

  &.gray{
    background-color: #f2f2f2;
    hr{ border-color: #DADADA; }
  }
  &.alt{
    background-color: #fcfbf5;
    hr{ border-color: #DADADA; }
  }
  &.primary{
    background-color: $brand-primary;
    color: white;
    hr{ border-color: white; }
  }
  &.footer{
    background-color: #313131;
    color: #646464;
  }

  .section-title{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
  }

}

section.hero{
  background-color: $brand-primary;
  color: white;
  text-align: center;  

  h1{
    text-shadow: 1px 1px 1px darken($brand-primary, 20%);
    margin-top: 0;
  }
  h3{
    margin-top: 0;
  }
  p{
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0;
    &.small{font-size: 18px;}
  }
}

section.logos{
  text-align: center;
  padding: 10px 0;
  background-color: #fefefe;
  border-bottom: 1px solid #f1f1f1;
}

.optin-box{
  background-color: #f5f5f5;
  border: 1px solid #e2e2e2;
  padding: 20px;

  h1, h2, h3{ margin-top: 0;}
  .no-spam{ font-size: 14px; margin: 20px 0 0px 0;}
}

.speakers{
  .speaker-img{
    width: 20%; float: left; margin: 0;

    position: relative;
    img{ width: 100%; }
    &:hover:after{
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      line-height: 176px;
      background: rgba(0,0,0,0.5);
      color: white;
      font-size: 16px;
      font-style: oblique;
      text-align: center;
      content: attr(title);
    }
  }
}

.btn-primary{
  color: white;
  background-color: $brand-primary;
  border: 0;
  border-bottom: 4px solid darken($brand-primary, 10%);
  &:hover, &:focus, &:active, &:active:focus{
    background-color: darken($brand-primary, 10%);
    border-color: darken($brand-primary, 10%);
  }
}
.btn-secondary{
  color: white;
  background-color: $brand-secondary;
  border: 0;
  border-bottom: 4px solid darken($brand-secondary, 10%);
  &:hover, &:focus, &:active, &:active:focus{
    color: white;
    background-color: darken($brand-secondary, 10%);
    border-color: darken($brand-secondary, 10%);
  }
}

.btn-cta{
  font-size: 22px;
  font-weight: bold;
  padding: 15px 20px;
}


.banner-thankyou{
  background-color: #f2f2f2;
  text-align: center;
  line-height: 41px;
  padding: 5px 0;
  font-size: 16px;
  text-transform: uppercase;
  img{ margin-right: 10px;}
}