
form.wufoo {
	margin: 20px 14px 0 14px;
	padding: 0 0 20px 0;
	position: relative
}
.hide,.cloak div,.cloak span,.likert.cloak tbody,.likert.cloak thead {
	display: none !important
}
.likert.cloak table {
	border: none
}
